#home-div {
    background: rgb(234,237,237);
}

/* .home-img {
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
} */

#home-inner {
    padding-bottom: 5%;
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
}