#item-show {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 40px;
}

#main-display {
    width: 300px;
    height: 280px;
}

#price {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

#buy-new {
    font-weight: bold;
    margin-left: 1%;
}

#price-num {
    color: #B22805;
}

#to-cart {
    width: 250px;
    border: 1px solid rgb(216, 214, 214);
    border-radius: 10px;
}

#prime-ship-logo {
    width: 80px;
    height: 50px;
    margin-top: 1px;
}

#shipping {
    display: flex;
    justify-content: space-evenly;
}

#same-day p {
    font-size: small;
    color: rgb(182, 182, 182);
}

#to-cart-buttons {
    display: flex;
    flex-direction: column;
}

#to-cart-buttons button {
    width: 90%;
    height: 30px;
    margin-left: 5%;
    margin-bottom: 10px;
    border-radius: 30px;
    border-color: transparent;
}

#add-to {
    background: rgb(252, 213, 55);
}
#add-to:hover {
    background: rgb(238, 196, 27);
}

#buy-now {
    background: rgb(255,164,27);
}
#buy-now:hover {
    background: rgb(255, 145, 27);
}

#stock {
    margin-top: 30px;
    margin-left: 5%;
    padding-bottom: 5%;
}

#in-stock {
    margin-bottom: 10px;
    font-size: large;
    color: green;
}

#quantity {
    border-radius: 7px;
    background: linear-gradient(180deg, #dfdfdf, #fcfcfc);
    border-color: rgb(186, 186, 186);
    font-size: 10px;
    padding: 3px;
}

#location {
    width: 10%;
    padding-top: 10px;
    margin-left: 5%;
}

#ship-info p {
    width: 80%;
    margin-left: 5%;
}

#li {
    color: rgb(1,113,133);
    text-decoration: none;
}

#li:hover {
    color: rgb(228, 94, 4);
}

#item-info {
    width: 35%;
}

#item-info h1{
    margin-top: 0;
}


#display {
    width: 40%;
    display: flex;
    height: 550px;
}

#button-img {
    width: 40px;
    height: 40px;
}

#main-display {
    width: 100%;
    height: 100%;
}

#side-display {
    padding-right: 20px;   
}

#info-price {
    padding-left: 25px;
    display: flex;
}

#info-price p {
    padding-right: 5px;
}

#main-photo {
    height: 100%;
    width: fit-content;
}

#security-link{
    margin-left: 5%;
}
#security-link big{
    margin-right: 5%;
}

#ship-info-text{
    align-content: flex-end;
    margin-left: 5%;
}
#ship-info-text p{
    font-size: 14px;
    font-weight: bold;
}

#show-index{
    height: 100%;
}

#item-show-component{
    background: rgba(216, 214, 214, 0.27);
}

#uppercase {
    text-transform: capitalize;
}