 .login-form-container {
   display: flex;
   justify-content: center;
   margin-top: 100px;

 }

 .login-form {
   display: flex;
   justify-content: center;
   flex-direction: column;
 }

 .login-input {
   margin-left: 10px;
   width: 295px;
   height: 27px;
 }

 .login-form-box {
   border: 1px solid rgb(226, 226, 226);
   padding-left: 15px;
   padding-right: 15px;
   width: 320px;
   border-radius: 10px;
 }

  #login-create {
     width: 350px;
     height: 32px;
     text-decoration: none;
 }

 
 .session-submit {
     margin-left: 9px;
     width: 305px;
     height: 34px;
     background: linear-gradient(180deg, #f0d38c, #f0c14b);
     border-radius: 5px;
    }
    
.session-submit:hover {
   background: #e6b949ef;
}

 #form-header {
     margin-left: 12px;
     padding-top: 20px;
 }

 #form-text {
     margin-left: 12px;
     margin-top: 5px;
     font-weight: bold;
 }

 input:focus {
     outline: none;
     border-color: rgb(250, 159, 54);
     box-shadow: 0 0 10px rgb(247, 141, 19);
     border-radius: 5px;
 }