 .login-form-container {
   display: flex;
   justify-content: center;
   margin-top: 30px;

 }

 .login-form {
   display: flex;
   justify-content: center;
   flex-direction: column;
 }

 .login-input {
   margin-left: 10px;
   width: 295px;
   height: 27px;
 }

 .login-form-box {
   border: 1px solid rgb(226, 226, 226);
   padding-left: 25px;
   padding-right: 25px;
   width: 320px;
   border-radius: 10px;
 }


 #create-acc {
   padding: 7px 95px;
   background: linear-gradient(180deg, #fcfcfc, #dfdfdf);
   border: 1px solid rgb(177, 177, 177);
   text-decoration: none;
   color: black;
   border-radius: 4px;
   font-size: 13px;
 }

 
 .session-submit {
   margin-left: 9px;
   width: 305px;
   height: 34px;
   background: linear-gradient(180deg, #f3e0af, #f1b51c);
   border-radius: 5px;
   border-color: rgb(248, 207, 159);
   transition: .2s;
  }
  .session-submit1 {
   margin-left: 9px;
   width: 305px;
   height: 34px;
   background: linear-gradient(180deg, #afd6f3, #1ca6f1);
   border-radius: 5px;
   border-color: #1ca6f165;
   transition: .2s;
  }
    
  .session-submit:hover {
    background-image: linear-gradient(180deg, #f5d584, #f5bd2f);
    /* background: #ecc665; */
  }
  .session-submit1:hover {
    background-image: linear-gradient(180deg, #84f1f5, #2fe8f5);
  }

 #form-header {
     margin-left: 12px;
     padding-top: 20px;
 }

 #form-text {
     margin-left: 12px;
     margin-top: 5px;
     font-weight: bold;
 }

 #form-text1{
    margin-left: 12px;
    margin-top: 5px;
    font-size: small;
    width: 95%;
 }

 input:focus {
     outline: none;
     border-color: rgb(250, 159, 54);
     box-shadow: 0 0 10px rgb(247, 141, 19);
     border-radius: 5px;
 }

#divider {
  text-align: center;
  position: relative;
  border-bottom: 1px solid #e7e7e7;
  height: 9px;
  padding: 0 115px 0 120px;
}

#new-to {
  color: #919090;
  background: white;
  padding: 1px;
  font-size: 12px;
  font-weight: 500;
}

.header-group{
  display: flex;
  width: 31%;
  justify-content: space-between;
}

#sign-in-change{
    background: #9fc6ce00;
    border: none;
    font-weight: bold;
    color: rgb(1,113,133);
}

