#nav-bar {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    background: rgb(37, 50, 70);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

#greeting {
    display: flex;
    justify-content: space-between;
}

#log-out {
    height: 25px;
    margin-top: 15px;
}

.login-signup {
    margin-top: 25px;
}

#search {
    height: 25px;
    width: 400px;
    margin-top: 20px;
    border-radius: 1%;
}

#anime {
    height: 110px;
    width: 180px;
    border-radius: 10px;
}

#session-logo {
    display: flex;
    justify-content: center;
}

#anime-home {
    height: 50px;
    width: 90px;
    border-radius: 10px;
}

#nav-logo {
    margin-top: 5px;
}