#nav-bar {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    background: rgb(0, 0, 0);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

#greeting {
    display: flex;
    justify-content: space-between;
}

#log-out {
    height: 25px;
    margin-top: 15px;
}

.login-signup {
    margin-top: 25px;
}

#search {
    height: 35px;
    width: 400px;
    margin-top: 10px;
    border-radius: 1%;
    border-color: transparent;
    margin-right: -3px;
    margin-left: -15px;
    position: relative;
}

#anime {
    height: 110px;
    width: 180px;
    border-radius: 10px;
}

#session-logo {
    display: flex;
    justify-content: center;
}

#anime-home {
    height: 50px;
    width: 90px;
    border-radius: 10px;
}

#nav-logo {
    margin-top: 5px;
}

#search-button {
    background: #ffc170;
    height: 41px;
    width: 45px;
    padding-bottom: 4px;
    border-radius: 5px;
    border-color: transparent;
}

#search-select {
    height: 41px;
    border-radius: 5px;
    background: rgb(242, 240, 240);
    width: auto;
    border-color: transparent;
    position: relative;
}

option {
    text-align: center;
}

#auth-link {
    color: black;
    text-decoration: none;
}