#personal-profile-comp {
    background: #f6fafb;
}

#personal-profile-div {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

#profile-header {
    width: 50%;
    background: white;
    border: solid 1px #e1e0e0;
    border-radius: 5px;
}

#banner-slot-photo {
    width: 100%;
    height: 350px;
    border-bottom: solid 1px #e1e0e0;
}

#header-avatar-name {
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 25px;
}

#avatar-with-name {
    display: flex;
    width: 73%;
    align-items: flex-start;
}
#avatar-with-name big{
    font: caption;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 20px;
}
#avatar-slot-photo {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: solid 5px white;
    margin-top: -110px;
    margin-left: 30px;
}

#header-button-edit {
    width: 27%;
}
#editing-profile-button {
    border-radius: 7px;
    width: 230px;
    height: 32.5px;
    border: solid #ffd814;
    background: #ffd814;
    box-shadow: 1px 4px 8px 0px #ede4e4;
}
#editing-profile-button:hover {
    border-radius: 7px;
    width: 230px;
    height: 32.5px;
    border: solid transparent;
    background: #f1b51c;
    box-shadow: 1px 4px 8px 0px #ede4e4;
    transition: 0.1s;
}

#profile-body-split {
    width: 50%;
    display: flex;
    margin-top: 15px;
    gap: 15px;
    margin-bottom: 60px;
}

#profile-body-left {
    width: 85%;
    display: flex;
    flex-direction: column;
    font: caption;
}

#about-me-bio {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: white;
    border: solid 1px #e1e0e0;
    border-radius: 6px;
}

#about-me-bio big { 
    width: 90%;
    margin-top: 20px;
    margin-left: 15px;
    font-weight: bold;
}
#about-me-bio small { 
    width: 90%;
    margin-top: 20px;
    margin-left: 15px;
    font-size: 15px;
    margin-bottom: 40px;
}

#community-review-activity {
    background: white;
    padding: 18px;
    font: caption;
    border: solid 1px #e1e0e0;
    border-radius: 5px;
    margin-bottom: -3px;
}