/* body{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #23E3C9;
} */

.slider{
  width: 100%;
  height: 600px;
  /* border-radius: 10px; */
  overflow: hidden;
  background: white;
  z-index: -1;
  -webkit-mask: linear-gradient(to bottom, rgb(0 0 0), rgb(0 0 0),rgb(0 0 0), rgb(0 0 0), rgb(0 0 0), rgb(0 0 0), rgb(0 0 0), rgb(0 0 0 / 50%), rgb(0 0 0 / 0%));
}

.slides{
    width: 500%;
    height: 100%;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

#slide-one{
    background-image: url(http://aweber.design/gifs/images/Special/_Sans-Simple-Red.gif);
    background-size: 100% 100%;
}

.slide-two{
    width: 20%;
    transition: 2s;
    background-image: url(https://giffiles.alphacoders.com/354/35460.gif);
    background-size: 100% 100%;
}

.slide-three {
    width: 20%;
    transition: 2s;
    background-image: url(https://miro.medium.com/max/900/1*MmLkpM4w_mpBdDoFex73bw.gif);
    background-size: 100% 100%;
}

.slide-four {
    width: 20%;
    transition: 2s;
    background-image: url(https://c.tenor.com/PvL266ALfUMAAAAd/deku-eri.gif);
    background-size: 100% 100%;
}
#slide-Link:hover{
    background: red;
}

.slide img{
    width: 100%;
    height: 100%;
}
.slide-two img{
    width: 100%;
    height: 100%;       
}
.slide-three img{
    width: 100%;
    height: 100%;    
}
.slide-four img{
    width: 100%;
    height: 100%;    
}


.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -25%;
    display: flex;
    justify-content: center;
  margin-left: 25%;
}

.manual-btn{
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
    background: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}


.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: -25%;
    margin-left: 25%;
}

.navigation-auto div{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: white;
}

#slide-photo:hover{
   opacity: 0;
}

#slide-photo1:hover{
    opacity: 0.7;
}