#profile-form {
    display: flex;
    justify-content: center;
    padding: 1%;
}
/* 
#profile-form img {
    width: 80px;
    height: 80px;
} */

/* 
CSS for the left side of the form
*/

#left-pform {
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 3%;
}

#profilename-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-bio-div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* 
CSS for the right side of the form
*/

#right-pform {
    display: flex;
    flex-direction: column;
    width: 68%;
}

#profile-avatar-div {

}

#avatar-set1 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1%;
    align-items: flex-end;

}
#set1-left {
    margin-left: 1.5%;
}
#set1-right {
    display: flex;
    width: 85%;
    gap: 1.45%;
    justify-content: flex-end;
}

#default-avatar {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: solid #ff8035;
}
#default-avatar-select {
    text-align: center;
    color: #ff8035;
}

#hunter-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: solid #3b9f32;
}
#hunter-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #3b9f32;
    border: solid;
    margin-top: 5.5%;
    padding-right: 1.35%;
}

#naruto-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: solid orange;
}
#naruto-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: orange;
    border: solid;
    margin-top: 5.5%;
    padding-right: 1.43%;
}

#mha-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: solid #47b390;
}
#mha-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #47b390;
    border: solid;
    margin-top: 5.5%;
    padding-right: 1.45%;
}

#avatar-set2 {
    display: flex;
    justify-content: space-between;
}

#jkaisen-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: solid #876bb1;
}
#jkaisen-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #876bb1;
    border: solid #876bb1;
    padding-right: 1.2%;
}

#one-piece-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: solid #e94a54;
}
#one-piece-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #e94a54;
    border: solid #e94a54;
    padding-right: 1.2%;
}

#demon-slayer-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: solid #d576a1;
}
#demon-slayer-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #d576a1;
    border: solid #d576a1;
    padding-right: 1.2%;
}

#banner-anime-select img {
    width: 400px;
    height: 130px;
}

#default-banner {
    width: 400px;
    height: 130px;
}

#banner-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#default-banner-select {
    padding-bottom: 15px;
    width: 100%;
}

#split-banner-select {
    display: flex;
    flex-direction: column;
    gap: 15px;
}