#user-show-blue-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #defaff;
}
#inner-blue-info {
    width: 45%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#inner-blue-info img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}
#inner-blue-info big {
    font: caption;
    font-size: 20px;
}

#main-review-form-div {
    display: flex;
    justify-content: center;
}

#main-review-inner {
    width: 42%;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

#review-subheader-title {
    font: caption;
    font-size: 25px;
    font-weight: bold;
}
#review-mini-subheader-title {
    font: caption;
    font-size: 20px;
    font-weight: bold;
}

#make-a-review-header {
    display: flex;
    flex-direction: column;
}

#item-preview-left-right {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
}

#item-info-preview {
    display: flex;
    align-items: center;
    margin-left: 10px;
    gap: 20px;
    font: caption;
    font-size: 15px;
}
#item-info-preview img {
    width: 85px;
}

#star-test {
    background: rgb(0, 0, 0);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display: inline-block;
    height: 100px;
    width: 100px;
}
#star-test:focus::before {
    content: '';
    background: gold;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display: inline-block;
    height: 100px;
    width: 100px;
}

#star-label {
  background: rgb(151, 151, 149);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  display: inline-block;
  height: 100px;
  width: 100px;
}
#star-label:focus {
  background: gold;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  display: inline-block;
  height: 100px;
  width: 100px;
}