#user-show-blue-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #defaff;
}
#inner-blue-info {
    width: 45%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#inner-blue-info img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}
#inner-blue-info big {
    font: caption;
    font-size: 20px;
}

#main-review-form-div {
    display: flex;
    justify-content: center;
}

#main-review-inner {
    width: 42%;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

#review-subheader-title {
    font: caption;
    font-size: 25px;
    font-weight: bold;
}
#review-mini-subheader-title {
    font: caption;
    font-size: 20px;
    font-weight: bold;
}

#make-a-review-header {
    display: flex;
    flex-direction: column;
}

#item-preview-left-right {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
}

#item-info-preview {
    display: flex;
    align-items: center;
    margin-left: 10px;
    gap: 20px;
    font: caption;
    font-size: 15px;
}
#item-info-preview img {
    width: 85px;
}

#overall-rating-header {
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.star-widget input{
  display: none;
}

.star-widget label{
  font-size: 40px;
  color: rgb(214, 214, 214);
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #fd4;
}
input:checked ~ label{
  color: #fd4;
}

#review-add-headline {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 10px;
    gap: 12px;
}
#title-maker-input {
    height: 25px;
}

#review-write-review {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 10px;
    gap: 12px;
}

#submit-review-button-div {
    display: flex;
    justify-content: flex-end;
}
#submit-review-button {
    height: 32px;
    width: 90px;
    border: solid 2px #ffa5003b;
    background: rgb(252, 213, 55);
    border-radius: 6px;
}
#submit-review-button:hover { 
    height: 32px;
    width: 90px;
    border: solid 2px #f9ad1f3b;
    background: rgb(229, 171, 12);
    border-radius: 6px;
    transition: 1.5s;
}