#nav-bar {
    border-bottom: 1px solid black;
    display: flex;
    background: rgb(0, 0, 0);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    height: 65px;
    justify-content: space-around;
    gap: 2%;
    align-items: center;
    align-content: center;
    overflow: hidden;
}

#greeting {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 2px black;
    padding: 10px;
    font-size: 14px;
    transition: 1s;
    cursor: pointer;
}
#greeting:hover {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 2px white;
    padding: 10px;
    font-size: 14px;
 }

.login-signup {
    margin-top: 8px;
    font-size: small;
    text-align: left;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    /* width: 16%; */
}

.auth-link:hover {
    
    margin-bottom: 10px;
    /* border: 1px solid white; */
    position: relative;
    /* opacity: 0.5; */
    color: rgb(250, 159, 54);
    border: 0.5px solid rgb(250, 159, 54);
}
.cart-link:hover {
    
    margin-bottom: 10px;
    /* border: 1px solid white; */
    position: relative;
    /* opacity: 0.5; */
    color: rgb(250, 159, 54);
    border: 0.5px solid rgb(250, 159, 54);
    transition: 2s;
}

#search-div{
    width: 43%;
}
#search {
    height: 100%;
    width: 90%;
    border-radius: 5px 0px 0px 5px;
    border-color: transparent;
    margin-left: -15px;
}

#anime {
    height: 110px;
    width: 180px;
    border-radius: 10px;
}

#session-logo {
    display: flex;
    justify-content: center;
}

#anime-home {
    height: 67px;
    width: 215px;
    position: relative;
    margin-top: -5px;
    transition: 1s;
}
#anime-home:hover {
    /* border: 1px solid white; */
    position: relative;
    opacity: 0.9;
}

#nav-logo {
    height: 100%;
}

#search-button {
    background: #ffc170;
    height: 46px;
    width: 45px;
    padding-bottom: 4px;
    border-radius: 0px 5px 5px 0px;
    border-color: transparent;
    padding: 1px 2px;
}

#search-select {
    height: 41px;
    border-radius: 5px;
    background: rgb(242, 240, 240);
    width: auto;
    border-color: transparent;
    position: relative;
}

option {
    text-align: center;
}

#auth-link {
    color: white;
    text-decoration: none;
    transition: 2s;
}

#loc-nav {
    height: 30px;
    width: fit-content;
}

#loc-li {
    text-decoration: none;
    color: white;
}

#location-selecting {
    width: 15%;
    height: 80%;
    display: flex;
    align-items: center;
    border: solid 2px black;
    transition: 1s;
}

#location-selecting:hover {
    width: 15%;
    height: 80%;
    display: flex;
    align-items: center;
    border: solid 2px white;
}

#cart-link {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
    border: solid 2px black;
    transition: 1s;
}
#cart-link:hover {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
    border: solid 2px white;
 }

#cart-img{
    width: 45px;
    height: 35px;
}

#cart-amount{
    color: orange;
    font-weight: bold;
    font-size: 18px;
    margin-left: 13px;
    position: absolute;
}

#cart-title{
    font-size: 17px;
    font-weight: bold;
    margin-top: 10px;
    color: white;
}


#nav-to-profile {
    /* margin-left: -180px; */
    display: flex;
    align-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border: solid 2px black;
    width: 105px;
    justify-content: center;
    transition: 1s;
}
#nav-to-profile:hover { 
    /* margin-left: -180px; */
    display: flex;
    align-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border: solid 2px white;
    width: 105px;
    justify-content: center; 
}
.sign-in {
    color: white;
    text-decoration: none;
}

#select-address {
    font-size: 105%;
}

#acc-lists {
    font-size: 115%;
}

#cart-div-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-bar-form {
    display: flex;
    align-items: center;
    align-content: center;
    height: 40px;
}

#nav-dropdown {
    position: absolute;
    margin-top: 63px;
    margin-left: -170px;
    z-index: 2;
    width: 275px;
    height: 115px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    flex-direction: column;
    border-radius: 5px;
    gap: 10px;
    /* box-shadow: 5px 6px 10px 0px #c3c3c3; */
    border: solid #d8d8d8;
}

#hover-signin-btn {
    padding: 11px 80px 11px 80px;
    background: linear-gradient(180deg, #f3e0af, #f1b51c);
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-size: 15px;
}

#blue-link {
    text-decoration: none;
    color: #007185;
}